.nav-menu{
    display: flex;
    justify-content:space-between;
    align-items: center ;
    margin: 49px 100px ;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a:hover{
    color: #00A000;
}

.nav-buy{
    display: flex;
    gap: 16px;
}

.nav-login{
    padding: 16px 21px;
    border: 1px solid #00A000;
    border-radius: 11px;
}

.nav-login a{
    color:#00A000;
}