body {
  display: flex;
  justify-content: center;
  align-items: center;
}
:last-child .galeria {
  display: flex;
  gap: 40px;
  margin: 40px;
}

.img {
  width: 250px;
  height: 400px;
  transition: 0.3s;
}

.img:hover {
  transform: skew(-30deg, 30deg);
  box-shadow: 180px 10px 90px #0008;
}
