html,h1,h2,h3,h4,p,a{
    font-family: "Inter", sans-serif;
    color: #333231;
}

a, button:hover{
    cursor: pointer;
}

:root{
    --color-primary:#B0CB1F;   
    --color-white:#fff;
    --color-black:#333231;
    --color-gray:#5F6C72;
    --color-warning:#EFD33D;
    --color-warning:#2DA5F3;

    --h1-size: 60px;
    --h2-size: 48px;
    --h3-size: 40px;
    --h4-size: 25px;
    --body-size: 16px

    --title-weight: 700;
    --body-weight:100;
    --button-weight:400;
    --border-radius-button: 15px 3px 15px 3px;
}