@import url("./reset.css");
@import url("./global.css");

.header-container{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 20px 60px;
}

.header-links ul{
    display: flex;
    gap: 30px;
}

.header-login{
    padding: 12px 30px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-button);
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 60px 185px 30px 185px;
    gap: 60px;
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content-rating{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.main-content-price{
    display: flex;
    align-items: center;   
    gap:12px;
}

.main-content-price-new{
    color: var(--color-secondary);
    font-size: var(--h4-size);
}

.main-content-price-old{
    color: var(--color-gray);
    font-size: var(--body-size);
    text-decoration: line-through;
}

.main-content-price-discount{
    font-size: var(--body-size);
    font-weight: var(--title-weight);
    background-color: var(--color-warning);
    padding: 5px 10px;
    border-radius: 2px;
}

.main-content-colors{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-content-colors-title{
    font-size: var(--body-size);
    color: var(--color-gray);
}

.main-content-colors-spheres{
    display: flex;
    gap: 10px;
}

.main-content-colors-first{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #E0E1E1;
    border: 3px solid #FA8232;
}

.main-content-colors-second {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #B1B5B8;
}


.main-content-add-item{
    padding: 12px 30px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-button);
    margin: 0;
}