@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

*{
    margin: 0;
}

body {
    font-family: 'Gilroy', sans-serif; 
    font-weight: 500;
    max-width: 1920px;
}

a{
    text-decoration: none;
    color: #000001;
}

p{
    font-size: clamp(1rem, 1.5vw, 1.125rem); 
}

li{
    list-style-type: none;
}