.nav-menu{
    display: flex;
    justify-content:space-between;
    align-items: center ;
    margin: 49px 100px ;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a:hover{
    color: #00A000;
}

.nav-buy{
    display: flex;
    gap: 16px;
}

.nav-buy img{
    cursor: pointer;
}   

.nav-login{
    padding: 16px 21px;
    border: 1px solid #00A000;
    border-radius: 11px;
}

.nav-login:hover{
    cursor: pointer;
}

.nav-login a{
    color:#00A000;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
}

.main-content-text p{
    font-size: 18px;
    width:503px;
    line-height:30px;
    color:#000001;
}

.main-content-text{
    width: 564px;
}

.main-content-text h1{
   font-size: 60px;    
}

.main-content-text span{
    color:#00A000;
}

.main-content-buttons{
    display: flex;
    gap: 24px;
}

.main-content-order{
    padding: 16px 21px;
    background-color: #00A000;
    color: #fff;
    border-radius: 11px;
}

.main-content-products{
    padding: 16px 21px;
    border: 1px solid #00A000;
    color: #00A000  ;
    border-radius: 11px;
}

.choose-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    text-align: center;
}

.container-product{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 100px;
}

.container-product-title{
    margin-bottom: 60px;
}

.container-product-title h2{
   font-size: 48px;
   font-weight: bold;
}

.container-product-title p{
   font-size: 18px;
   color: #999999;
}

.content-product{
    display: flex;
    text-align: center;
    gap: 20px;
}

.product-cards{
    display: flex;
    flex-direction: column;
    width: 400px;
}


.product-cards h3{
    font-size: 28px;
    margin: 0;
    font-weight: 500;
}

.product-cards p{
    font-size: 18px;
}

.product-analysis{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

.product-analysis-information{
    width: 400px;
}

.product-analysis-information h2{
    font-size: 48px;
    font-weight: 600;
    color: #000001;
}

