.nav-menu{
    display: flex;
    justify-content:space-between;
    align-items: center ;
    margin: 49px 100px ;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a:hover{
    color: #00A000;
}

.nav-buy{
    display: flex;
    gap: 16px;
}

.nav-buy img{
    cursor: pointer;
}   

.nav-login{
    padding: 16px 21px;
    border: 1px solid #00A000;
    border-radius: 11px;
}

.nav-login:hover{
    cursor: pointer;
}

.nav-login a{
    color:#00A000;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
}

.main-content-text p{
    font-size: 18px;
    width:503px;
    line-height:30px;
    color:#000001;
}

.main-content-text{
    width: 564px;
}

.main-content-text h1{
   font-size: 60px;    
}

.main-content-text span{
    color:#00A000;
}

.main-content-buttons{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.main-content-order{
    padding: 16px 21px;
    background-color: #00A000;
    color: #fff;
    border-radius: 11px;
}

.main-content-products{
    padding: 16px 21px;
    border: 1px solid #00A000;
    color: #00A000  ;
    border-radius: 11px;
}

.choose-product{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.container-product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    margin: 100px;
}

.container-product-title{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.container-product-title h2{
   font-size: 48px;
   font-weight: 700;
}

.container-product-title p{
   font-size: 18px;
   color: #999999;
}

.content-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 8px;
}


.product-cards h3{
    font-size: 28px;
    margin: 0;
    font-weight: 700;
}

.product-cards p{
    max-width: 275px;
    text-align: center;
    font-size: 18px;
    color: #999999;
}

.product-analysis{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.product-analysis-information{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.product-analysis-information h2{
    font-size: 48px;
    font-weight: 600;
    color: #000001;
    margin: 0;
}

.product-analysis-information p{
    color: #999999;
}

.special-products{
    margin-top: 160px;
}

.special-products h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.special-products-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 100px;
    gap: 20px;
}

.special-products-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height:30px;
    gap: 16px;
}

.special-products-cards img{
    width: 250px;
    height: 242px;
    margin: auto;
}

.special-products-cards h3{
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}

.special-products-cards p{
    font-weight: 500;
    font-size: 18px;
    width: 279px;
}

.button-buy{
    display: flex;
    justify-content: center;
    padding: 16px 140px;
    background-color: #00A000;
    border-radius: 8px;

}

.button-buy:hover{
    cursor: pointer;
    background-color: #047e04;

}

.button-buy a{
    color: #fff;
    text-transform: capitalize;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    padding: 100px;
}

.profile-container-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 60px;
    text-align: center;
}

.profile-container-title h2{
    font-size: 48px;

}

.profile-container-title p{
    font-size: 18px;
}

.profile-content{
    display: flex;
    gap: 20px;
}

.profile-content h2{
    margin-bottom: 8px;
}

.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 400px;
    padding: 40px 33px 88px 33px;
    background-color: #fff;
    border-radius: 16px;
}

.profile-card h2{
    font-size: 28px;
    font-weight: 600;
}

.profile-card p{
    width: 333px;
text-align: justify;
}