* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-family);
}

button {
  margin-top: 16px;
}

p {
  color: vra(--color-neutral-grey);
}

:root {
  /* Cores */
  --color-neutral-black: #263238;
  --color-neutral-d_grey: #4d4d4d;
  --color-neutral-grey: #717171;
  --color-neutral-grey2: #18191f;
  --color-neutral-l_grey: #89939e;
  --color-neutral-grey-blue: #abbed1;
  --color-neutral-silver: #f5f7fa;
  --color-neutral-white: #fff;

  --color-primary: #4caf4f;
  --color-secondary: #263238;
  --color-info: #2194f3;

  --color-shade-1: #43a046;
  --color-shade-2: #388e3b;
  --color-shade-3: #237d31;
  --color-shade-4: #1b5e1f;
  --color-shade-5: #103e13;

  --color-tint-1: #66bb69;
  --color-tint-2: #81c784;
  --color-tint-3: #a5d6a7;
  --color-tint-4: #c8e6c9;
  --color-tint-5: #e8f5e9;

  --color-action-warning: #fbc02d;
  --color-action-error: #e53835;
  --color-action-sucess: #2e7d31;

  /* Configuração de fontess */
  --font-family: "Inter";

  --font-headline-1-size: 64px;
  --font-headline-1-weight: 600;

  --font-headline-2-size: 60px;
  --font-headline-2-weight: 600;

  --font-headline-3-size: 28px;
  --font-headline-3-weight: 700;

  --font-headline-4-size: 20px;
  --font-headline-4-weight: 600;

  --font-body-1-size: 18px;
  --font-body-1-regular-weight: 400;
  --font-body-1-medium-weight: 500;

  --font-body-2-size: 16px;
  --font-body-2-regular-weight: 400;
  --font-body-2-medium-weight: 500;

  --font-body-3-regular-size: 14px;
  --font-body-3-regular-weight: 400;
  --font-body-3-medium-weight: 500;

  --font-body-4-size: 12px;
  --font-body-4-regular-weight: 400;
  --font-body-4-medium-weight: 500;
}

.active-menu {
  font-weight: 500 !important;
}

.btn-primary {
  padding: 14px 32px;
  background-color: var(--color-primary);
  border-radius: 4px;
  color: var(--color-neutral-white);
  align-self: flex-start;
  margin-top: 16px;
}
