@import url("./global.css");

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-neutral-silver);
}

.logo {
  padding: 30px 0px;
}

.nav-header ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-header ul a {
  text-decoration: none;
  color: #18191f;
}

.active {
  font-weight: bold;
}

.btn-login {
  color: var(--color-primary);
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-SignUp {
  color: var(--color-neutral-white);
  padding: 10px 20px;
  background-color: var(--color-primary);
  border-radius: 6px;
  cursor: pointer;
}

.btn-header {
  gap: 14px;
  padding: 22px 0px;
}

main {
  display: flex;
  background-color: var(--color-neutral-silver);
  align-items: center;
  justify-content: center;
  gap: 104px;
  padding: 96px 0px;
}

.content-lessons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 657px;
}

h1 {
  font-size: 64px;
  color: var(--color-neutral-d_grey);
  font-weight: var(--font-headline-1-weight);
}

.content-lessons h1 span {
  color: var(--color-primary);
}

.our-client {
  text-align: center;
  margin-top: 40px;
}

.our-client p {
  margin-top: 8px;
}

.logo-clients {
  display: flex;
  justify-content: center;
  gap: 136px;
  padding: 25px 0px;
  margin-top: 16px;
}

.manage-system {
  text-align: center;
  margin-top: 40px;
}

.manage-system h2 {
  width: 542px;
  margin: 0 auto;
}

#manage-system-subtitle {
  margin-top: 8px;
}

.cards-container {
  display: flex;
  margin-top: 16px;
  gap: 127.5px;
  justify-content: center;
}

.cards-container article {
  width: 299px;
  box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
  padding: 24px 16px;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s;
}

.cards-container article:hover {
  box-shadow: 0px 8px 12px rgba(171, 190, 209, 0.5);
  transform: translateY(-8px);
}

.cards-container article img {
  width: 65px;
  height: 56px;
}

.cards-container article h3 {
  color: var(--color-neutral-d_grey);
  font-size: 28px;
  margin-bottom: 8px;
  width: 231px;
  text-align: center;
  margin: 0 auto;
}

.cards-container article p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.6;
}

.pixelgrade {
  display: flex;
  justify-content: center;
  gap: 49.47px;
  margin-top: 42px;
  padding: 52pxd;
}

.pixelgrade-content {
  display: flex;
  flex-direction: column;
  width: 601px;
  gap: 16px;
}

.pixelgrade-content h2 {
  width: 564px;
}

.pixelgrade-content p {
  font-size: 15px;
  line-height: 20px;
}

.helping-local {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 204px;
  padding: 64px;
  background-color: var(--color-neutral-silver);
  margin-top: 48px;
}

.helping-local-content {
  width: 408px;
  gap: 8px;
}

.helping-local-content h2 {
  width: 390px;
}

.helping-local-content span {
  color: var(--color-primary);
}

.helping-local-statistic {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.helping-local-items {
  display: flex;
  gap: 16.48px;
}

.how-design-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0;
  gap: 49.87px;
}

.how-design-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.how-design-container h2,
.how-design-container p {
  width: 601px;
}

.how-design-container p {
  font-size: var(--font-body-3-size);
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  background-color: var(--color-neutral-silver);
  gap: 78px;
}

.customer-content {
  display: flex;
  flex-direction: column;
  width: 748px;
  line-height: 24px;
  gap: 16px;
}

.customer-content p {
  color: var(--color-neutral-d_grey);
  font-size: var(--font-body-2-size);
}

.customer-signature {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customer-signature h2 {
  color: var(--color-primary);
  font-size: var(--font-headline-4-size);
}

.customer-signature p {
  color: var(--color-neutral-l-grey);
  font-size: var(--font-body-2-size);
}

.customer-container {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 16px;
}

.customer-itens {
  display: flex;
  gap: 41px;
}

.customer-itens img {
  width: 48px;
}

.caring-marketing {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  text-align: center;
  gap: 8px;
}

.caring-marketing p {
  width: 628px;
  margin: 0 auto;
}

.caring-marketing h2 {
  font-weight: var(--font-headline-2-weight);
}
.caring-marketing-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.caring-marketing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  position: relative;
}

.caring-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-neutral-silver);
  box-shadow: 0, 8px, 16px, rgba(171, 190, 209, 1);
  gap: 16px;
  width: 317px;
  position: absolute;
  top: 190px;
}

.caring-card-content h3 {
  font-size: var(--font-headline-4-size);
  color: var(--color-neutral-grey);
  width: 285px;
  font-weight: var(--font-body-4-weight-medium);
  width: 250px;
}

.pellentesque {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 95px;
  gap: 32px;
  padding: 32px 0;
  background-color: var(--color-neutral-silver);
}

.pellentesque h2 {
  font-size: var(--font-headline-1-size);
  font-weight: var(--font-headline-2-weight);
  width: 772px;
  margin: 0 auto;
  text-align: center;
}

.pellentesque a {
  display: flex;
  align-self: center;
  text-decoration: none;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 165px;
  background-color: var(--color-neutral-black);
}

.footer h2,
.footer p,
.footer a {
  color: var(--color-neutral-white);
  text-decoration: none;
}

.footer-information {
  margin-right: 125px;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.footer-support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.email-container {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-d_grey);
  color: var(--color-neutral-white);
  border-radius: 8px;
  padding: 10px 15px;
  gap: 8px;
}

.email-container input {
  background: transparent;
}
