* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333333;
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
}

.header-content {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  height: 100px;
  margin: 10px 20px;
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.icons {
  display: inline-flex;
  gap: 20px;
}

.main-content {
  text-align: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.section-information {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  flex-direction: column;
  width: 643px;
  height: 400px;
  background-color: #fff3e3;
  position: absolute;
  right: 0;
  top: 300px;
  margin-right: 60px;
  border-radius: 10px;
  gap: 10px;
}

/* Can Apply Media using MaxWidth:1500px 
    It will fix the layout
*/

.section-information .section-button {
  margin-top: 60px;
}

.section-information h2,
span,
p {
  margin-left: 20px;
}

.section-description {
  font-weight: 600;
  align-self: flex-start;
}

.section-subtitle {
  color: #b88e2f;
  font-size: 45px;
  line-height: 50px;
}

.text {
  color: #333333;
}

.section-button {
  padding: 20px 50px;
  background-color: #b88e2f;
  color: #fff;
  display: flex;
  align-self: flex-start;
  margin: 20px 20px;
}

.section-places-subtitle {
  margin-top: 20px;
  font-size: 32px;
  color: #333333;
}
.cards {
  margin: 20px;
}

.section-products-subtitle {
  font-size: 42px;
}

.places-galery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
}

.places-galery-images {
  background-color: #f4f5f7;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.places-galery-images img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.places-subtitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.places-description {
  color: #666;
  margin-bottom: 5px;
}

.places-price {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.places-newprice {
  font-weight: bold;
  color: #000;
}

.places-oldprice {
  color: #aaa;
  text-decoration: line-through;
}
